<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Youtube Analyzer</title>
</head>
<body>

<form th:action = "@{/processInputData}" method = "POST">
    <input type="radio" id="video" name="link-type" value="video">
    <label for="video">VIDEO</label><br>
    <input type="radio" id="playlist" name="link-type" value="playlist">
    <label for="playlist">PLAYLIST</label><br>
    <br><br>

    <label for="link">Enter Id</label><br>
    <input type = "text" id = "link" name = "link" required>
    <br><br>
    <button type = "submit" value = "submit">Analyze</button>
</form>
<br>
<br><
<div class = "video-results">
    <div th:each="result : ${results}" class = "result-card">
        <div>
            <img th:src="${result.thumbnailURL}" alt="thumbnail unavailable">
            <h4><span th:text="${result.title}">Title</span></h4>
            <h6>Rating : <span th:text="${result.rating}">Rating</span></h6>
            <p class="description"><span th:text="${result.commentsSummary}">Desc</span></p>
            <hr>
        </div>
    </div>
</div>

</body>
</html>