<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Youtube Analyzer</title>
</head>
<body>

<form th:action = "@{/processInputData}" method = "POST">
    <input type="radio" id="video" name="link-type" value="video">
    <label for="video">VIDEO</label><br>
    <input type="radio" id="playlist" name="link-type" value="playlist">
    <label for="playlist">PLAYLIST</label><br>
    <br><br>

    <label for="link">Enter Link</label><br>
    <input type = "text" id = "link" name = "link" required>
    <br><br>
    <button type = "submit" value = "submit">Analyze</button>
</form>

<div class = "video-results">
    <div th:each="result : ${results}" class = "result-card">
        <div>
            <h4>Video Title</h4>
            <h6>Rating : 3/5</h6>
            <p class="description"><span th:text="${result}">Desc</span></p>
            <hr>
        </div>
    </div>

</div>

</body>
</html>